@charset 'utf-8';
/* * {
  outline: 1px solid red;
} */
/* css 리셋 */
body {
  margin : 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
ul, h3 {
  margin: 0;
  padding: 0;
}

/* 레이아웃 */
.layout__uppermost,
.layout__header,
.layout__nav,
.layout__main,
.layout__footer {
  display: flex;
  justify-content: center;
}

.layout__inner {
  flex: 0 0 600px;
}
/* 최상단메뉴 */
.layout__uppermost {
  background-color: #000;
}
.layout__inner.layout__uppermost-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:50px;

  font-size: 0.8rem;
  color : #fff;
  font-weight: bold;
}
.layout__inner.layout__uppermost-inner span {
  margin: 0 5px;
}
/* 헤더 */
.layout__inner.layout__header-inner {
  background-image: url('https://plus.unsplash.com/premium_photo-1674327105074-46dd8319164b?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:150px;
}
/* 메인메뉴 */
.layout__inner.layout__nav-inner {
  display: flex;
  justify-content: center;
  align-items: center;

  height:50px;
  background-color: #000;
}
.layout__inner.layout__nav-inner .menu{
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;

  color : #fff;
  font-size: 0.8rem;
  font-weight: bold;
}
.layout__inner.layout__nav-inner .menu .item:hover{
  text-decoration: underline;
}
/* 컨텐츠 */
.layout__inner.layout__main-inner{
  display: flex;
}
.layout__inner.layout__main-inner .left {
  flex-grow: 2;
  background-color: lightskyblue;
}
.layout__inner.layout__main-inner .right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 8;
  background-color: lightcyan;

  padding: 50px 0;
}
.layout__inner.layout__main-inner .right .join-wrap{
  width: 250px;
}
.layout__inner.layout__main-inner .right .join-wrap .title{
  text-align: center;
  margin: 10px;
  letter-spacing: 0.5rem; /* 자간 간격 */
}
.layout__inner.layout__main-inner .right .join-wrap .join {
  background-color: #fff;
}

.layout__inner.layout__main-inner .right .join-wrap .join input[type="text"],
.layout__inner.layout__main-inner .right .join-wrap .join input[type="password"],
.layout__inner.layout__main-inner .right .join-wrap .join input[type="tel"],
.layout__inner.layout__main-inner .right .join-wrap .join input[type="date"]{
  box-sizing: border-box;
  width:100%;
}
.layout__inner.layout__main-inner .right .join-wrap .join .item-wrap .item{
  margin: 0.3rem;
}
.layout__inner.layout__main-inner .right .join-wrap .join .hobby {
  display: flex;
  justify-content: space-between;
}
.layout__inner.layout__main-inner .right .join-wrap .join .joinBtn {
  width: 100%;
  background-color: green;
  color: #fff;
  font-weight: bold;
  padding:5px;
}
/* footer */
.layout__inner.layout__footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height:70px;

  font-size: 0.8rem;
  color: #fff;
  font-weight: bold;
  background-color: #999;
}

