@charset 'UTF-8';
*{
    /* outline: solid 1px red; */
    margin: 0;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.menu{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
}
.login{
    margin-right: 260px;
}
.login3, .login1, .login2{
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.header{

    height: 150px;
    width: 600px;
}
img{
    height: 150px;
    width: 600px;
}
.nav {
    background-color: black;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.ul{
    list-style: none;
    padding: 0px;
    width: 600px;
    display: flex;
}
.list{
    width: 600px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}
.link:hover{
    text-decoration: underline;
}
.main{
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* height: 650px; */
    width: 600px;
}
.main_left{
    background-color: lightskyblue;
    height: 100%;
    width: 20%;
}
.main_right{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    /* height: 650px; */
    width: 80%;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.h3{
    margin: 10px;
    letter-spacing: 0.5em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.membership{
    width: 250px;
    margin: 0.3px;
    background-color: white;
    padding: 10px;
    line-height: 25px;
}
.membership .block{
    display: block;
}
.membership .width{
    width: 95%;
}
.button{
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    letter-spacing: 0.5em;
}
.footer{
    background-color: #808080;
    width: 600px;
    height: 70px;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
